<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ansys Element Types</key>
	<array>
		<dict>
			<key>TypeName</key>
			<string>Beam3</string>
			<key>TypeNumber</key>
			<string>3</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Beam4</string>
			<key>TypeNumber</key>
			<string>4</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Beam23</string>
			<key>TypeNumber</key>
			<string>23</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Beam24</string>
			<key>TypeNumber</key>
			<string>24</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Beam44</string>
			<key>TypeNumber</key>
			<string>44</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Beam54</string>
			<key>TypeNumber</key>
			<string>54</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Beam188</string>
			<key>TypeNumber</key>
			<string>188</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Beam189</string>
			<key>TypeNumber</key>
			<string>189</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Shell63</string>
			<key>TypeNumber</key>
			<string>63</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Shell93</string>
			<key>TypeNumber</key>
			<string>93</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Shell181</string>
			<key>TypeNumber</key>
			<string>181</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Shell281</string>
			<key>TypeNumber</key>
			<string>281</string>
		</dict>
        <dict>
			<key>TypeName</key>
			<string>Surf154</string>
			<key>TypeNumber</key>
			<string>154</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Solid185</string>
			<key>TypeNumber</key>
			<string>185</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Solid186</string>
			<key>TypeNumber</key>
			<string>186</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Solid187</string>
			<key>TypeNumber</key>
			<string>187</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Solid285</string>
			<key>TypeNumber</key>
			<string>285</string>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>Solsh190</string>
			<key>TypeNumber</key>
			<string>190</string>
		</dict>
	</array>
</dict>
</plist>
